html {
  height: 100%;
  font-size: $font-size;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-weight: 600;
  font-size: 100%;
  line-height: normal;
  background-color: #ffffff;
  color: $base-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &.is-offcanvas-show {
    overflow-y: hidden;
  }
}

.container {
  @include make-container();
}

a {
  color: $link-color;
  outline: none;

  &:hover {
    color: mix(#000, $link-color, 10%);
    color: $secondary-color;
  }
}

h1,
h2,
h3,
h4 {
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  font-weight: 800;
}

b, strong {
  font-weight: 800;
}

h1,
.h1 {
  font-size: rem(32);
}

h2,
.h2 {
  font-size: rem(27);
}

h3,
.h3 {
  font-size: rem(24);
}

h4,
.h4 {
  font-size: rem(21);
}

p {
  margin-top: 0;
  margin-bottom: 0.6em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.visuallyhidden:not(:focus):not(:active) {
  @include visuallyhidden();
}
