.contacts-managers {

}

.contacts-managers__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 1.3;

}

.contacts-managers__photobox {
  flex-shrink: 0;
  width: 100px;
  margin-right: 15px;

  @include mq-min(568px) {
    width: 80px;
  }

  @include mq-min(667px) {
    width: 100px;
  }
}

.contacts-managers__photo {

}

.contacts-managers__body {
  display: flex;
  flex-direction: column;
}

.contacts-managers__name {
  font-size: 20px;
}

.contacts-managers__post {
  margin-bottom: 5px;
}

.contacts-managers__email {
  text-decoration: none;
  line-height: 1.4;
}

.contacts-managers__phone {
  text-decoration: none;
  line-height: 1.4;
}
