.district {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.district__map {
  height: 100%;
}

.district__legend-toggle {
  position: absolute;
  right: 18px;
  top: 96px;
  z-index: 1;
}

.district__legend {
  position: absolute;
  left: 0;
  top: 30%;
  right: 0;
  bottom: 0;
  z-index: 1;
}
