.district-legend {
  padding: 20px;
  padding-top: 40px;
  background-color: #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  transition: transform $duration * 2 ease-out;
  will-change: transform;

  &--hidden {
    transform: translateY(100%);
  }
}

.district-legend__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  font-size: 0;
  line-height: 0;
  background: none;
  border: none;
  user-select: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 4px;
    background-color: currentColor;
  }

  &::before {
    transform: translateY(-50%) rotate(-45deg) scaleX(1.2);
  }

  &::after {
    transform: translateY(-50%) rotate(45deg) scaleX(1.2);
  }
}

.district-legend__list {
  @include clear-list();

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 30px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
  box-sizing: border-box;

  @media (orientation: landscape) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.district-legend__item {
  display: flex;
  align-items: center;
  font-size: 14px;

  @supports not (display: grid) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.district-legend__iconbox {
  flex-shrink: 0;
  margin-right: 8px;
}

.district-legend__icon {
  width: 30px;
}

.district-legend__label {

}
