.flat {

}

.flat__top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.flat__to-back-wrapper {
}

.flat__location {
}

.flat__plan {
  margin-bottom: 40px;
}

.flat__info {
  margin-bottom: 40px;
}

.flat__actions {

}
