.flat-actions {

}

.flat-actions__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flat-actions__item {
  flex-basis: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include mq-min(568px) {
    flex-basis: 25%;
  }
}
