.flat-action-button {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.flat-action-button__icon {
  width: 42px;
  height: 42px;
  fill: currentColor;
}

.flat-action-button__text {
  display: block;
  max-width: 110px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 15px;
}
