.flat-plan {
  position: relative;
  max-height: 100vmin;
  overflow: hidden;
}

.flat-plan__adjuster {
  height: 0;
  padding-top: 100%;
}

.flat-plan__frame {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  max-height: 100vw;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.flat-plan__image {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: $duration * 2 ease-out;

  &--scale {
    width: 200%;
    height: 200%;
  }
}
