.form-control {
  width: 100%;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  color: $base-color;
  border: 2px solid #777;
  box-sizing: border-box;
  transition: $duration;
  outline: none;

  &:hover {
    box-shadow: 0 0 0 1px #777;
  }

  &:focus {
    border-color: $base-color;
  }

  &:read-only {
    border-color: #dddddd;
    box-shadow: 0 0 0 1px #dddddd;
    cursor: default;
  }

  &::placeholder {
    color: $muted-color;
    opacity: 1;
  }
}

textarea.form-control {
  min-height: 130px;
  max-height: 200px;
  resize: vertical;
}
