.gallery {

}

.gallery__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  width: 50%;

  @media (orientation: landscape) {
    width: calc(100% / 3);
  }
}

.gallery__link {
  @include make-fit-object(16, 9);
}

.gallery__preview-image {

}
