.genplan {
  position: relative;
  padding-top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.genplan__scroller {
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.genplan__image {
  display: block;
  max-width: none;
  width: auto;
  height: 100%;

  @media (orientation: landscape) {
    width: 165%;
    height: auto;
  }
}

.genplan__tip {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #ffffff;
  background-color: rgba($black-color, 0.8);
  transition: $duration * 3;

  &::before {
    content: "";
    width: 120px;
    height: 120px;
    margin-left: -25px;
    margin-bottom: 20px;
    background: url("../images/swipe.svg") no-repeat center / contain;
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  @media (orientation: landscape) and (max-height: 374px) {
    &::before {
      width: 64px;
      height: 64px;
    }
  }
}

.genplan__tip-text {
  max-width: 200px;
  margin: 0;
  font-weight: 400;
  line-height: 1.25;
  font-size: 22px;
  text-align: center;

  @media (orientation: landscape) and (max-height: 374px) {
    max-width: 300px;
  }
}

// .genplan__sidebar {
//   position: fixed;
//   left: 0;
//   top: 0;
//   z-index: 5;
//   width: 100%;
//   height: 100%;
//   // transform: translateX(100%);
//   transition: $duration * 1.5 ease-out;
//   background-color: rgba(#ffffff, 0.9);
//   // opacity: 0;

//   &--opened {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
