.news-preview {

}

.news-preview__list {
  @include clear-list();
}

.news-preview__item {
  display: block;
  margin-bottom: 40px;
  color: $base-color;
  text-decoration: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.news-preview__article {

}

.news-preview__date {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  color: $muted-color;
}

.news-preview__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.1;
  color: $accent-color;
}

.news-preview__text {
  @include clear-mr-edges-elem();

  font-size: 17px;
}
