.news {

}

.news__title {
  // max-width: none;
  margin-bottom: 25px;
}

.news__date {
  display: block;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  color: $muted-color;
}

.news__content {

}
