.offcanvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: $duration * 1.5 ease-out;
  background-color: rgba($black-color, 0.9);
  opacity: 0;
  pointer-events: none;

  &--opened {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
}

.offcanvas__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
