.page-nav {
  position: relative;
  height: 100%;
  margin-top: 80px;
  overflow: hidden;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    height: 40px;
    background-color: tomato;
    background: linear-gradient(to bottom, rgba($black-color, 0.8), rgba(0, 0, 0, 0));
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 40px;
    background-color: tomato;

    background: linear-gradient(to top, rgba($black-color, 0.8), rgba(0, 0, 0, 0));
  }
}

.page-nav__list {
  @include clear-list();

  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.page-nav__item {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    background-color: $accent-color;
  }

  @media (orientation: landscape) and (max-height: 484px) {
    font-size: 26px;
  }
}

.page-nav__link {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #ffffff;
  }

  @media (orientation: landscape) and (max-height: 484px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.page-nav__footer {
  flex-shrink: 0;
}
