.search-filters-checkbox {

}

.search-filters-checkbox__input {
  @include visuallyhidden();
}

.search-filters-checkbox__indicator {
  display: block;
  padding: 10px;
}

.search-filters-checkbox__input:checked + .search-filters-checkbox__indicator {
  color: #ffffff;
  background-color: $accent-color;
}
