.welcome-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: $duration;

  &:hover,
  &:focus {
    color: #ffffff;

    .welcome-action__iconbox {
      background-color: $accent-color;
      border-color: $accent-color;
    }
  }

  &:active {
    opacity: 0.8;
  }
}

.welcome-action__iconbox {
  margin-bottom: 10px;
  padding: 10px;
  border: 5px solid currentColor;
  border-radius: 50%;
  transition: $duration;
}

.welcome-action {
}

.welcome-action__icon {
  display: block;
  fill: currentColor;
}

.welcome-action__text {

}
